{% extends "base.html" %}
{% block maincontents %}
<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="首页" class="tip-bottom">
                <i class="icon-home"></i> 首页</a>
        </div>
    </div>
<!--End-breadcrumbs-->
<!--详细信息列表 -->
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_lg">
                <span class="icon">
                    <i class="icon-plane"></i>
                </span>
                <h5>所有航段</h5>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span12">
                        <table id="table_list" data-sort-name="stargazers_count" data-sort-order="desc" data-pagination="true" data-page-size="15" data-page-list="[15,30,66,100]" data-show-pagination-switch="true"
                        data-show-columns="true"
                        >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->

<script>


var $table = $('#table_list');
var index_list_json = {{ result_json | safe}}
var result_list_json = [];
var columns_set = [];
$(function() {


    for(var key in index_list_json)
    {
        for(var item in index_list_json[key])
        {
            var single_set =
            {
                title: '',
                field: '',
                align: 'center',
                valign: 'middle',
                sortable: true
            };
            if(item!="AC_sector")
            {
                if(item=="update_time")
                {
                    single_set["title"] = "update_time BJS";
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
                else
                {
                    single_set["title"] = item;
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
            }
        }
        break;
    }
    columns_set.push(
            {
                title: '进入链接',
                field: 'AC_sector',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: flightFormatter
            });
        
    $table.bootstrapTable({
                data: index_list_json,
                columns: columns_set,
                search: true,
                height: getHeight()
            });

    $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    
});

function flightFormatter(value) {

    var the_url;

    the_url = "{% url 'childtable' 112233 %}".replace("112233", value);
    return [
        '<a href="' + the_url + '" target="_blank">' + "进入" + '</a>'
    ].join('');
}

function getHeight() {
        return $(window).height() - $('h2').outerHeight(true);
    }

</script>

{% endblock %}