{% extends "base.html" %}
{% block maincontents %}
<div class="content-section">
    <div class="container">
        <h2>航班列表：</h2>
        
        <table id="table" data-sort-name="stargazers_count" data-sort-order="desc" data-pagination="true" data-page-size="15" data-page-list="[15,30,66,100]" data-show-pagination-switch="true">

        </table>
    </div>
    <!-- /container -->
</div>
<!--/.content-section -->
<script>


var $table = $('#table');
var index_list_json = {{ result_json | safe}}
var result_list_json = [];
var columns_set = [];
$(function() {


    for(var key in index_list_json)
    {
        for(var item in index_list_json[key])
        {
            var single_set =
            {
                title: '',
                field: '',
                align: 'center',
                valign: 'middle',
                sortable: true
            };
            if(item!="AC_sector")
            {
                if(item=="update_time")
                {
                    single_set["title"] = "update_time BJS";
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
                else
                {
                    single_set["title"] = item;
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
            }
        }
        break;
    }
    columns_set.push(
            {
                title: '进入链接',
                field: 'AC_sector',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: flightFormatter
            });
        
    $table.bootstrapTable({
                data: index_list_json,
                columns: columns_set,
                search: true,
                height: getHeight()
            });

    $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    
});

function flightFormatter(value) {

    var the_url;

    the_url = "{% url 'childtable' 112233 %}".replace("112233", value);
    return [
        '<a href="' + the_url + '" target="_blank">' + "进入" + '</a>'
    ].join('');
}

function getHeight() {
        return $(window).height() - $('h2').outerHeight(true);
    }

</script>

{% endblock %}