<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="基于QAR数据的辅助排故系统">
<meta name="author" content="北京飞机维修工程有限公司-重庆分公司，基于QAR数据的辅助排故系统">
<title>基于QAR辅助排故系统</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/static/js/datetimepicker/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="/static/css/matrix-style.css" />
<link rel="stylesheet" href="/static/css/matrix-media.css" />
<link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/bootstrap-table.css" />

<script src="/static/js/jquery.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/matrix.js"></script>
<script src="/static/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-table.js" ></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>

<!--Header-part logo-->
<div id="header">
  <h1></h1>
</div>
<!--close-Header-part--> 

<!--侧边菜单-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
  <ul>
    <li><a href="/home/"><i class="icon icon-home"></i> <span>首页</span></a> </li>
    <li> <a href="/all_childtable_index_list/"><i class="icon icon-dashboard"></i> <span>航班列表</span></a> </li>
    <li> <a href="/storing_stencil/"><i class="icon icon-plane"></i> <span>自建模版</span></a> </li>
    <li> <a href="/stencil_list/"><i class="icon icon-inbox"></i> <span>模板列表</span></a> </li>
    <li> <a href="/tendency_total/"><i class="icon icon-inbox"></i> <span>趋势统计</span></a> </li>
  </ul>
</div>
<!--sidebar-menu-->


{% block maincontents %}
    <p>这里放页面内容</p>
{% endblock %}

<div class="row-fluid">
  <div id="footer" class="span12"> Copyright &copy; 2015-2016  AMECO CKG</div>
</div>



</body>

</html>
