<!DOCTYPE html>
<html class="theme theme-white">
<head>
<meta charset="utf-8">
<title>QAR使用说明书</title>
<link href="https://www.zybuluo.com/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
<style type="text/css">

#wmd-preview h1  {
    color: #0077bb; /* 将标题改为蓝色 */
}</style>
</head>
<body class="theme theme-white">
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader"><div class="md-section-divider"></div><div class="md-section-divider"></div><h1 data-anchor-id="xacg" id="qar使用说明书">QAR使用说明书</h1><p data-anchor-id="31bh"><code>QAR开发</code></p><hr><p data-anchor-id="s6q5"><div class="toc"><div class="toc">
<ul>
<li><a href="#qar使用说明书">QAR使用说明书</a><ul>
<li><a href="#浏览器选择">浏览器选择</a></li>
<li><a href="#进入系统">进入系统</a><ul>
<li><a href="#通过基地网站进入">通过基地网站进入</a></li>
<li><a href="#通过地址直接进入">通过地址直接进入</a></li>
</ul>
</li>
<li><a href="#辅助排故">辅助排故</a><ul>
<li><a href="#查找航班">查找航班</a></li>
<li><a href="#选择参数模版">选择参数模版</a></li>
<li><a href="#查看数据">查看数据</a></li>
</ul>
</li>
<li><a href="#趋势统计">趋势统计</a><ul>
<li><a href="#进入方法">进入方法</a></li>
<li><a href="#选择机号数据">选择机号、数据</a></li>
<li><a href="#查看数据-1">查看数据</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
</p><hr><div class="md-section-divider"></div><h2 data-anchor-id="nxnx" id="浏览器选择">浏览器选择</h2><p data-anchor-id="cfeh">建议使用最新的各种浏览器获得最佳的体验 <br>
例如360极速浏览器极速模式，火狐浏览器，谷歌浏览器，QQ浏览器极速模式等</p><div class="md-section-divider"></div><h2 data-anchor-id="di7h" id="进入系统">进入系统</h2><div class="md-section-divider"></div><h3 data-anchor-id="h1tz" id="通过基地网站进入">通过基地网站进入</h3><p data-anchor-id="39pr">1.基地网站地址：<a href="http://10.210.180.42/" target="_blank">http://10.210.180.42/</a> <br>
2.在基地网站首页左下角【<strong>栏目导航</strong>】找到【<strong>QAR排故系统</strong>】 <br>
<img src="http://static.zybuluo.com/gaojingyun/xkhsmv0y3r8mv78w420n77mv/image_1antno0bb1jvi1ou83sj8el1iue9.png" alt="image_1antno0bb1jvi1ou83sj8el1iue9.png-47kB"> <br>
3.点击进入</p><div class="md-section-divider"></div><h3 data-anchor-id="36g6" id="通过地址直接进入">通过地址直接进入</h3><p data-anchor-id="ppve">1.在公司内网下，浏览器地址输入：<a href="http://10.210.180.43:8001/" target="_blank">http://10.210.180.43:8001/</a> <br>
2.点击确定访问</p><div class="md-section-divider"></div><h2 data-anchor-id="9ric" id="辅助排故">辅助排故</h2><p data-anchor-id="ftnc">作为本系统的核心功能，主要分为以下三步：</p><ol data-anchor-id="nm5q">
<li>查找航班</li>
<li>选择参数模版</li>
<li>查看数据</li>
</ol><div class="md-section-divider"></div><h3 data-anchor-id="p8ba" id="查找航班">查找航班</h3><p data-anchor-id="431w">在打开的首页中，找到【按日期机号查询】 <br>
<img src="http://static.zybuluo.com/gaojingyun/s734kpz77fi56qwez3r90a75/image_1antornko14o710p51pm61dsm9fhm.png" alt="image_1antornko14o710p51pm61dsm9fhm.png-11.1kB"></p><ul data-anchor-id="o8qa">
<li>在开始日期中点击选择需要的起始日期</li>
<li>在结束日期中点击选择需要的结束日期</li>
<li>在机号中选择所需的飞机机号</li>
<li>最后点击开始查询</li>
</ul><p data-anchor-id="ieen">会得到一个新页面，下方为所查飞机这一段时期内的所有航班，找到所需航班，在右侧进入链接点击进入。 <br>
<img src="http://static.zybuluo.com/gaojingyun/s82qn8v7bgsciyrqchnowksg/image_1antp253nmetbuo1ds9o07ns013.png" alt="image_1antp253nmetbuo1ds9o07ns013.png-36.4kB"></p><div class="md-section-divider"></div><h3 data-anchor-id="3lrd" id="选择参数模版">选择参数模版</h3><p data-anchor-id="gipo">进入具体的航班的列表后，找到【模版选择】 <br>
<img src="http://static.zybuluo.com/gaojingyun/uz0xdudfddi6xoz68f7jewqu/image_1antp55oc1b801kec7a0ipo1ags1g.png" alt="image_1antp55oc1b801kec7a0ipo1ags1g.png-16.8kB"> <br>
选中下拉框，并在其中选中需要的模版，然后点击查询 <br>
<img src="http://static.zybuluo.com/gaojingyun/5iv9ffhfgrd3bhkdyogat8bt/image_1antp6vj71k95ms51qlf46d11l71t.png" alt="image_1antp6vj71k95ms51qlf46d11l71t.png-4.3kB"> <br>
等待几秒，会得到具体的QAR数据</p><div class="md-section-divider"></div><h3 data-anchor-id="y0lc" id="查看数据">查看数据</h3><p data-anchor-id="51em">得到的数据分为两种形式：曲线图和表格</p><ol data-anchor-id="fctf">
<li>曲线图 <br>
<img src="http://static.zybuluo.com/gaojingyun/yn5yc17cpckv6vukkt7xd61b/image_1antpan892gr1sirjie10kv1bus2a.png" alt="image_1antpan892gr1sirjie10kv1bus2a.png-85.9kB"> <br>
<ul><li>点击图例可以关闭或开启某个参数的显示 <br>
<img src="http://static.zybuluo.com/gaojingyun/lb5zm1vg3326m9kitwmn8hh6/image_1antpbuv41uks1cph1s3d154gu052n.png" alt="image_1antpbuv41uks1cph1s3d154gu052n.png-5.1kB"></li>
<li>拖动区域选择条，可以放大局部显示 <br>
<img src="http://static.zybuluo.com/gaojingyun/68nwxufpi3ezf2bvdhfc17yv/image_1antpdtpn2b91j9n10551ou81ue134.png" alt="image_1antpdtpn2b91j9n10551ou81ue134.png-4.1kB" title=""></li>
<li>鼠标移动到图形上，提示框自动出现显示坐标所对应的参数值 <br>
<img src="http://static.zybuluo.com/gaojingyun/d606eby90qvbp003i5hb5qo1/image_1antpfqa114l19ta1br2ubi1kda3h.png" alt="image_1antpfqa114l19ta1br2ubi1kda3h.png-30.5kB" title=""></li></ul></li>
<li><p>表格 <br>
<img src="http://static.zybuluo.com/gaojingyun/z6w1l0cv9r6rq996du7kum25/image_1antpgkjjrl01f4l1p3ln1710cs3u.png" alt="image_1antpgkjjrl01f4l1p3ln1710cs3u.png-64.3kB"> <br>
从上到下依次介绍该控件功能：</p>

<ul><li>在【搜索】框中输入值进行简单的过滤 <br>
<img src="http://static.zybuluo.com/gaojingyun/v2p79qw7iut87hgkb48wjru7/image_1antppre8l45t1vvf16ai1mgi4b.png" alt="image_1antppre8l45t1vvf16ai1mgi4b.png-0.7kB" title=""></li>
<li>分页按钮，可以关闭/打开表格中分页显示方式，是拉通在一个页面展示完，还是分成很多页，每页只显示较少行的数据 <br>
<img src="http://static.zybuluo.com/gaojingyun/6e9pfbg6i2obyropnb2dftwh/image_1antpq6tt1tad1tlg1ac91m991ulf4o.png" alt="image_1antpq6tt1tad1tlg1ac91m991ulf4o.png-0.5kB" title=""></li>
<li>列头选择功能，点开后，可以勾选参数需要显示，去掉勾选表示参数隐藏 <br>
<img src="http://static.zybuluo.com/gaojingyun/0hu5sr7gkvedizluvwnbg8hd/image_1antpr531qa01la3m1c9cj1dep55.png" alt="image_1antpr531qa01la3m1c9cj1dep55.png-1.8kB"></li>
<li>数据展示区域，点击列头中的箭头可以排序 <br>
<img src="http://static.zybuluo.com/gaojingyun/3o42bd6bseek58k5icjky74k/image_1antpripqrnd193p9ng12301ovl5i.png" alt="image_1antpripqrnd193p9ng12301ovl5i.png-52.7kB"></li>
<li>分页功能，可以对每页的行数进行控制，右侧表示翻页 <br>
<img src="http://static.zybuluo.com/gaojingyun/4xhqfdbur1biav8sfg59l86f/image_1antpsdn11sl3n7mu3l1meo4j15v.png" alt="image_1antpsdn11sl3n7mu3l1meo4j15v.png-8.2kB"></li></ul></li>
</ol><div class="md-section-divider"></div><h2 data-anchor-id="1c91" id="趋势统计">趋势统计</h2><div class="md-section-divider"></div><h3 data-anchor-id="q3pb" id="进入方法">进入方法</h3><p data-anchor-id="pmr7">在左侧导航栏中点击【单机趋势统计】 <br>
<img src="http://static.zybuluo.com/gaojingyun/0str4uupb8t5nb6h1qr2hidj/image_1antq0bigi2l1lvmqg71ump10mn6c.png" alt="image_1antq0bigi2l1lvmqg71ump10mn6c.png-10.9kB" title=""></p><div class="md-section-divider"></div><h3 data-anchor-id="uqsp" id="选择机号数据">选择机号、数据</h3><p data-anchor-id="g26i"><strong>注意</strong>：以下操作每一次要严格按顺序执行，因为飞机QAR含两种构型，每次选择飞机会改变参数选择列表。</p><ol data-anchor-id="ft5o">
<li>首先选中机号，机号选择框中可以进行简单搜索，以便快速定位 <br>
<img src="http://static.zybuluo.com/gaojingyun/0xxfit12i7azjk74xr4p4f30/image_1antq2ttf1g3actqimro631uj16p.png" alt="image_1antq2ttf1g3actqimro631uj16p.png-8.4kB"></li>
<li>参数选择，在框中找到所需的参数，其中单一的参数，也包含各种复合运算后的值 <br>
<img src="http://static.zybuluo.com/gaojingyun/wvbswr3woam7i129taixqupq/image_1antq9ga1d9t6301hv51js714rd76.png" alt="image_1antq9ga1d9t6301hv51js714rd76.png-17.9kB"></li>
<li>时期选择，点击后在方框中自行选择时间范围 <br>
<img src="http://static.zybuluo.com/gaojingyun/e3si91ey5djbvh0eoygljpv3/image_1antq9q4mnjk11die3ne2olap7j.png" alt="image_1antq9q4mnjk11die3ne2olap7j.png-14.1kB"></li>
</ol><p data-anchor-id="y49g">依次完成以上三步后，稍等片刻，会自动刷新数据</p><div class="md-section-divider"></div><h3 data-anchor-id="beqd" id="查看数据-1">查看数据</h3><ol data-anchor-id="0rm5">
<li>曲线图 <br>
<img src="http://static.zybuluo.com/gaojingyun/bv8v2mwwy3l32vfaeyrelfe9/image_1antqdm22anmb7n1pvjrpm1j8380.png" alt="image_1antqdm22anmb7n1pvjrpm1j8380.png-33.8kB" title=""> <br>
纵轴是时间，横轴是参数的值，将鼠标移到图形上，可以自动该坐标得到对应的值、航班号、时间的提示框</li>
<li>表格 <br>
<img src="http://static.zybuluo.com/gaojingyun/h84q9nly5n7hg396e1lzcd9x/image_1antqgtl591tv401jr690kcd68d.png" alt="image_1antqgtl591tv401jr690kcd68d.png-97.8kB" title=""> <br>
该表格也是一种航班列表，使用方法同<strong>辅助排故</strong>中的表格，唯一不同的在于，列中会有一栏属于参数值。</li>
</ol></div>
</body>
</html>