{% extends "base.html" %}
{% block maincontents %}

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
  	<div id="breadcrumb" class="text-center"> <a href="index.html" title="基于QAR辅助排故系统"><h3>737NG 基于QAR辅助排故系统</h3></a></div>
  </div>
<!--End-breadcrumbs-->

<!--首页菜单 boxes-->
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lg"> <a href="/all_childtable_index_list/"> <i class="icon-dashboard"></i> 航班列表</a> </li>
        <li class="bg_ly"> <a href="/storing_stencil/"> <i class="icon-plane"></i> 自建模版 </a> </li>
        <li class="bg_lo"> <a href="/stencil_list/"> <i class="icon-bar-chart"></i> 模板列表</a> </li>
        <li class="bg_ls"> <a href="/tendency_total/"> <i class="icon-bar-chart"></i> 趋势统计</a> </li>
        <!--<li class="bg_lb"> <a href="interface.html"> <i class="icon-pencil"></i>全参数译码</a> </li>-->
      </ul>
    </div>
<!--End-Action boxes-->    



<!--Chart-box-->    
    <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-search"></i></span>
          <h5>按条件查询</h5>
        </div>
        <div class="widget-content" >
          <div class="row-fluid">
            <div class="span12">
              <form action="" method="post" role="form">
                    	<div class="span3">
                    			<label><b>日期</b></label>
                    			<input id="date" type="text" class=".span3" name="datetime" placeholder="请点击选择日期">
                    	</div>
									  	<div class="span3"><label><b>机号</b></label><input type="text" class=".span3" name="lastname" placeholder="机号格式:B-XXXX"></div>
										  <div class="span2">
										  		<label><b>ATA</b></label>
										  		<select class="input-small">
	                            <option>71</option>
	                            <option>24</option>
	                        </select>
										  </div>
										  <div class="span4">
										  		<label><b>模板选择</b></label>
										  		<select name="fault" class=".span3" id="fault">
                            <option value="all">发动机主要参数</option>
                        </select>
										  </div>
										  <div class="col-sm-12">
										  		<button class="btn btn-primary" type="submit"><i class="icon-search"></i>&ensp;开始查询</button>
										  </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--最新航班列表 -->
    <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-plane"></i></span>
          <h5>最新航段数据</h5>
        </div>
        <div class="widget-content" >
          <div class="row-fluid">
            <div class="span12">
              <table id="table_list">
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--End-Chart-box--> 
    
      
    </div>
  </div>
</div>

<!--end-main-container-part-->




<script type="text/javascript" src="/static/js/datetimepicker/bootstrap-datetimepicker.js" ></script>
	<script type="text/javascript" src="/static/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js" ></script>
	<script>
		$("#date").datetimepicker({ 
			minView: "month", //选择日期后，不会再跳转去选择时分秒 
			format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
			language: 'zh-CN', //汉化 
			showMeridian: true,
       		todayBtn: true,
			autoclose:true //选择日期后自动关闭 
		});
	</script>

<script>


var $table = $('#table_list');
var index_list_json = {{ result_json | safe}}
var result_list_json = [];
var columns_set = [];
$(function() {


    for(var key in index_list_json)
    {
        for(var item in index_list_json[key])
        {
            var single_set =
            {
                title: '',
                field: '',
                align: 'center',
                valign: 'middle',
                sortable: true
            };
            if(item!="AC_sector")
            {
                if(item=="update_time")
                {
                    single_set["title"] = "update_time BJS";
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
                else
                {
                    single_set["title"] = item;
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
            }
        }
        break;
    }
    columns_set.push(
            {
                title: '进入链接',
                field: 'AC_sector',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: flightFormatter
            });
        
    $table.bootstrapTable({
                data: index_list_json,
                columns: columns_set,   
            });

    
});

function flightFormatter(value) {

    var the_url;

    the_url = "{% url 'childtable' 112233 %}".replace("112233", value);
    return [
        '<a href="' + the_url + '" target="_blank">' + "进入" + '</a>'
    ].join('');
}


</script>


{% endblock %}
</body>
</html>
