{% extends "base.html" %}
{% block maincontents %}
<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="首页" class="tip-bottom">
                <i class="icon-home"></i> 首页</a>
        </div>
    </div>
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-search"></i></span>
            <h5>按日期机号查询</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span12">
                    <form action="/query_index/" method="post" role="form">
                        {% csrf_token %}
                        <div class="span2">
                            <label><b>开始日期</b></label>
                            <input id="date_start" type="text" class="input-small" name="date_start" placeholder="请点击选择">
                        </div>
                        <div class="span2">
                            <label><b>结束日期</b></label>
                            <input id="date_end" type="text" class="input-small" name="date_end" placeholder="请点击选择">
                        </div>
                        <div class="span3">
                            <label><b>机号</b></label>
                            <select name="AC_id" id="AC_select" class="js-example-tags span12" tabindex="-1" aria-hidden="true">
                            </select>
                        </div>
                        <div class="span3">
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i>&ensp;开始查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-breadcrumbs-->
<!--详细信息列表 -->
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_lg">
                <span class="icon">
                    <i class="icon-plane"></i>
                </span>
                <h5>{{AC_id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{date_start}}&nbsp;&nbsp;to&nbsp;&nbsp;{{date_end}}&nbsp;&nbsp;&nbsp;&nbsp;</h5>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span12">
                        <table id="table_list" data-sort-name="stargazers_count" data-sort-order="desc" data-pagination="true" data-page-size="15" data-page-list="[15,30,66,100]" data-show-pagination-switch="true"
                        data-show-columns="true"
                        >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end-main-container-part-->
<script type="text/javascript" src="/static/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script>

$(".js-example-tags").select2({
          placeholder: "点击选择或搜索参数",
          tags: false
        });


$("#date_start").datetimepicker({
    minView: "month", //选择日期后，不会再跳转去选择时分秒 
    format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
    language: 'zh-CN', //汉化 
    showMeridian: true,
    todayBtn: true,
    autoclose: true //选择日期后自动关闭 
});
$("#date_end").datetimepicker({
    minView: "month", //选择日期后，不会再跳转去选择时分秒 
    format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
    language: 'zh-CN', //汉化 
    showMeridian: true,
    todayBtn: true,
    autoclose: true //选择日期后自动关闭 
});

$(function(){ 
    var id = new Array(); 
    var value = new Array('B-1527', 'B-1531', 'B-1738', 'B-1763', 'B-1765', 'B-1768', 'B-1942', 'B-1956', 'B-1959', 'B-1976', 'B-2612', 'B-2613', 'B-2649', 'B-2700', 'B-5198', 'B-5201', 'B-5202', 'B-5203', 'B-5214', 'B-5217', 'B-5220', 'B-5296', 'B-5297', 'B-5325', 'B-5327', 'B-5329', 'B-5390', 'B-5392', 'B-5398', 'B-5426', 'B-5443', 'B-5477', 'B-5486', 'B-5496', 'B-5582', 'B-5583', 'B-5622', 'B-5679', 'B-5682', 'B-5803', 'B-6496', 'B-6497', 'B-7181', 'B-7892'); 
   
    var select = document.getElementById("AC_select"); 
    for(var x = 0;x<value.length;x++){ 
        var option = document.createElement("option"); 
        option.setAttribute("value",value[x]);//设置option属性值 
        option.appendChild(document.createTextNode(value[x])); 
        select.appendChild(option);//向select增加option 
    } 

    select.options[0].selected = true;//设置默认选中第一个
}); 
</script>
<script>
var $table = $('#table_list');
var index_list_json = {{ result_json | safe}}
var result_list_json = [];
var columns_set = [];
$(function() {
    for(var key in index_list_json)
    {
        for(var item in index_list_json[key])
        {
            var single_set =
            {
                title: '',
                field: '',
                align: 'center',
                valign: 'middle',
                sortable: true
            };
            if(item!="AC_sector")
            {
                if(item=="update_time")
                {
                    single_set["title"] = "update_time BJS";
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
                else
                {
                    single_set["title"] = item;
                    single_set["field"] = item;
                    columns_set.push(single_set);
                }
            }
        }
        break;
    }
    columns_set.push(
            {
                title: '进入链接',
                field: 'AC_sector',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: flightFormatter
            });
        
    $table.bootstrapTable({
                data: index_list_json,
                columns: columns_set,
                search: true,
                height: getHeight()
            });

    $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });    
});

function flightFormatter(value) {

    var the_url;

    the_url = "{% url 'childtable' 112233 %}".replace("112233", value);
    return [
        '<a href="' + the_url + '" target="_blank">' + "进入" + '</a>'
    ].join('');
}

function getHeight() {
        return $(window).height() - $('h2').outerHeight(true);
    }

</script>

{% endblock %}