{% extends "base.html" %}
{% block maincontents %}
<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="首页" class="tip-bottom">
                <i class="icon-home"></i> 首页</a>
        </div>
    </div>
<!--End-breadcrumbs-->
<!--详细信息列表 -->
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_lg">
                <span class="icon">
                    <i class="icon-plane"></i>
                </span>
                <h5>模板列表：</h5>
            </div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span12">
                        <table id="table" data-sort-name="stargazers_count" data-sort-order="desc" data-pagination="true" data-page-size="15" data-page-list="[15,30,66,100]" data-show-pagination-switch="true">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


var $table = $('#table');
var table_list_json = {{ result_json | safe}}
$(function() {

    columns_set = [
            {
                title: 'ATA',
                field: 'ATA',
                align: 'center',
                valign: 'middle',
                sortable: true
            },
            {
                title: 'NAME',
                field: 'NAME',
                align: 'center',
                valign: 'middle',
                sortable: true
            },
            {
                title: '创建者',
                field: 'creator',
                align: 'center',
                valign: 'middle',
                sortable: true
            },
            {
                title: '进入图表配置链接',
                field: 'NAME',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: flightFormatter
            }
        ]
    $table.bootstrapTable({
                data: table_list_json,
                columns: columns_set,
                search: true
            });
    
});

function flightFormatter(value) {

    var the_url;

    the_url = "{% url 'edit_stencil' 112233 %}".replace("112233", value);
    return [
        '<a href="' + the_url + '" target="_blank">' + "进入" + '</a>'
    ].join('');
}

</script>

{% endblock %}